body {
  overflow-x: hidden;
}

#jen-main {
  text-align: center;
  color: white;
  font-size: 10vw;
  border: 10px solid white;
  padding: 3vw;
  margin: 5vw;
}

#intro-p {
  text-indent: 3vw;
}

#intro {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  padding: 3vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
  font-weight: lighter;
}

#intro-logo {
  justify-content: center;
  margin-top: 9vw;
}

#quote {
  color: grey;
  opacity: 0.8;
  font-size: 5vw;
  justify-content: end;
}

#cards {
  margin: 7vw 0vw;
  font-weight: lighter;
}

.card-text {
  font-size: 1.2vw;
  padding: 0.5vw;
}

#footer {
  font-size: 1vw;
  padding: 1vw;
  color: white;
  font-weight: lighter;
}

#features {
  text-align: justify;
  font-size: 2.5vw;
  font-weight: lighter;
  padding: 5vw;
  margin: 5vw 0vw;
  border: 5px solid #ffc107;
  border-radius: 1vw;
  color: white;
}

.feature-title {
  color: #17a2b8;
  font-size: 2.3vw;
  margin-top: 5vw;
}

.feature-card {
  font-size: 1.4vw;
  padding: 1vw;
  margin: 2vw;
  border: 2px solid #17a2b8;
  background-color: white;
  border-radius: 1.2vw;
  text-align:center;
}

.feature-long {
  padding: 3.2vw;
}

#examples {
  background-color: #ffc107;
  border: 2px solid white;
  border-radius: 1vw;
  padding: 5vw;
  margin: 5vw 0vw;
  color: white;
  font-size: 2.5vw;
  font-weight: lighter;
  text-align: justify;
}

.example-title {
  color: white;
  font-size: 2.3vw;
  margin-top: 5vw;
}

.jen-code p {
  display:inline;
  margin: 0px;
}

body {
  --jen-code: #444444;
  --jen-code-comment: #4444CC;
  --jen-code-literal-bool: #EEAA44;
  --jen-code-literal-num: #DDDD00;
  --jen-code-literal-string: #449944;
  --jen-code-keyword: #AA44AA;
  --main-content-background: #EEEEEE;
}

.jen-code {
    grid-column: 1/3;
    width: 50vw;
    font-size: 1.5em;
    border-radius: 15px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background-color: var(--main-content-background);
    color: var(--jen-code);}

.comment{color: var(--jen-code-comment);}
.literal-num, .literal-bool{color:var(--jen-code-literal-bool);}
.literal-string{color:var(--jen-code-literal-string);}
.keyword{color: var(--jen-code-keyword);}
.indent{padding-left: 3vw;}
.doubleIndent{padding-left: 6vw}
.tripleIndent{padding-left: 9vw}
.quadrupleIndent{padding-left: 12vw}


#team {
  text-align: center;
  font-size: 3vw;
  font-weight: lighter;
  padding: 3vw;
  margin: 5vw 0vw;
  border: 5px solid #17a2b8;
  border-radius: 1vw;
  color: #17a2b8;
}

#members {
  padding: 3vw;
}

.fa-heart {
  color: red;
  font-size: 1.2vw;
}

.fa-github {
  color: #ffc107;
}

.fa-linkedin {
  color: #17a2b8;
}

.social-networks {
  font-size: 3vw;
  margin: -1vw;
}

.card {
  margin: 1vw 0vw;
}
