body {
  overflow-x: hidden;
}

#jen-main {
  text-align: center;
  color: white;
  font-size: 10vw;
  border: 10px solid white;
  padding: 3vw;
  margin: 5vw;
}

#intro-p {
  text-indent: 3vw;
}

#intro {
  text-align: center;
  color: white;
  font-size: 1.5vw;
  padding: 3vw;
  margin-top: 4vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
  font-weight: lighter;
}

#intro-logo {
  justify-content: center;
  margin-top: 9vw;
}

#quote {
  color: grey;
  opacity: 0.8;
  font-size: 5vw;
  justify-content: end;
}

#cards {
  margin: 7vw 0vw;
  font-weight: lighter;
}

.card-text {
  font-size: 1.2vw;
  padding: 0.5vw;
}

#footer {
  font-size: 1vw;
  padding: 1vw;
  color: white;
  font-weight: lighter;
}

#features {
  text-align: justify;
  font-size: 2.5vw;
  font-weight: lighter;
  padding: 5vw;
  margin: 5vw 0vw;
  border: 5px solid #ffc107;
  border-radius: 1vw;
  color: white;
}

#operator-title {
  color: #17a2b8;
  font-size: 2.3vw;
  margin-top: 5vw;
}

.feature-card {
  font-size: 1.4vw;
  padding: 1vw;
  margin: 2vw;
  border: 2px solid #17a2b8;
  background-color: white;
  border-radius: 1.2vw;
  text-align:center;
}

.feature-long {
  padding: 3.2vw;
}
